@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #f2f2f2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.field-cost::-webkit-outer-spin-button,
.field-cost::-webkit-inner-spin-button,
.field-input::-webkit-outer-spin-button,
.field-input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.field-input,
.field-cost {
  margin: 0;
  -moz-appearance: textfield;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button,
.button-brown,
.button-blue {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}

.button-brown {
  background: #756157;
}

.button-brown:hover,
.button-brown:focus {
  background: #615048;
}

.button-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background: #756157;
}

.button-blue {
  background: #82b3d3;
}

.button-blue:hover,
.button-blue:focus {
  background: #68a2ca;
}

.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.button-brown:disabled,
.button-blue:disabled {
  color: #ffffff;
  background: #e5e5e5;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo {
  position: relative;
  margin-right: 28px;
  margin-bottom: -10px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  width: calc(100% - 32px);
  height: 2px;
  background-color: #756257;
  left: 16px;
  bottom: -2px;
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
}

.user-panel-link:hover,
.user-panel-link:focus {
  opacity: 0.5;
}

.user-panel-link:active {
  opacity: 0.3;
}

.user-panel-link {
  position: relative;
  display: block;
  padding: 20px 13px 18px 13px;
  text-decoration: none;
}

.user-panel-icon {
  fill: #000000;
}

.counter {
  position: absolute;
  min-width: 11px;
  left: 20px;
  top: 12px;
  padding: 4px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background: #7db54f;
  border-radius: 10px;
}

.navigation-button {
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
}

.main-container {
  flex-grow: 1;
}

.welcome-container {
  margin: 0;
  min-height: 485px;
  background-color: #756157;
  background-image: url("../images/welcome-divider.png"), url("../images/welcome-sedona-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, cover;
}

.main-index-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.description-container {
  width: 850px;
  margin: 0 auto;
  padding: 69px 0 90px 0;
}

.description-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.description-compare {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding: 103px 30px 30px 30px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-picture {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-item-picture .advantages-item {
  padding-top: 92px;
}

.advantages-image {
  object-fit: cover;
}

.light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.white {
  background-color: #ffffff;
}

.text-container {
  width: 230px;
  margin: 0 auto;
}

.advantages-title {
  position: relative;
  margin: 0;
  padding-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}

.advantages-item-line .advantages-title::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  background: rgba(0, 0, 0, 0.3);
}

.advantages-item-picture .advantages-title::before {
  background: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.advantages-item-image {
  padding: 0 30px 30px 30px;
}

.advantages-item-image .advantages-title {
  position: relative;
  padding-top: 182px;
  padding-bottom: 30px;
}

.house-icon::before {
  position: absolute;
  content: "";
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 72px;
  background: url("../images/advantages/house.svg") no-repeat;
}

.food-icon::before {
  position: absolute;
  content: "";
  top: 81px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 70px;
  background: url("../images/advantages/food.svg") no-repeat;
}

.present-icon::before {
  position: absolute;
  content: "";
  top: 78px;
  left: 50%;
  transform: translateX(-50%);
  width: 64px;
  height: 76px;
  background: url("../images/advantages/present.svg") no-repeat;
}

.search {
  padding: 96px 40px;
  text-align: center;
  font-weight: 700;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  margin: 0;
  margin-bottom: 53px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search-button {
  display: block;
  width: 376px;
  margin: 0 auto;
  padding: 8px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  text-align: center;
  color: #ffffff;
}

.subscribe-background {
  background-color: #756157;
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 96px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  padding-bottom: 103px;
}

.subscribe-field {
  width: 452px;
  box-sizing: border-box;
  padding: 12px 18px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  outline: none;
  border: 3px solid transparent;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #f2f2f2;
}

.subscribe-field:hover {
  background-color: #e6e6e6;
}

.subscribe-field:focus {
  background-color: #e6e6e6;
  border-color: #83b3d3;
}

.subscribe-field:active {
  border-color: #000000;
  outline: none;
}

.subscribe-field:disabled,
.subscribe-field:disabled:hover {
  color: rgba(0, 0, 0, 0.3);
  background: #f2f2f2;
  border-color: rgba(0, 0, 0, 0.3);
}

.subscribe-field::placeholder {
  color: #000000;
  opacity: 0.6;
}

.subscribe-button {
  width: 232px;
  padding: 8px 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  background-color: #82b3d3;
}

.page-footer {
  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer-social {
  width: 150px;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
}

.footer-social-item {
  margin-top: 10px;
  margin-right: 27px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-link {
  outline: none;
}

.social-icon {
  fill: #83b3d3;
  outline: none;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #68a2ca;
}

.social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.page-footer-phone {
  width: 334px;
}

.contacts-phone {
  display: block;
  padding-top: 10px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  outline: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.page-footer-contacts {
  width: 115px;
  margin-left: 232px;
}

.contacts-link {
  display: block;
  padding-top: 14px;
  outline: none;
}

.contacts-icon {
  fill: #000000;
}

.contacts-link:hover .contacts-icon,
.contacts-link:focus .contacts-icon {
  fill: #756157;
}

.contacts-link:active .contacts-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.inner-header {
  color: #ffffff;
}

.filter-background {
  background-color: #756157;
  background-image: url("../images/hotels-filter-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 28px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs-item:first-child::after {
  position: absolute;
  content: "";
  right: 10px;
  bottom: 5px;
  width: 8px;
  height: 11px;
  background: url("../images/breadcrumbs-arrow.svg") no-repeat;
}

.arrow-icon {
  fill: #ffffff;
}

.breadcrumbs-link-icon {
  outline: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-icon:hover .arrow-icon {
  fill: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link-icon:focus .arrow-icon {
  fill: #ffffff;
}

.breadcrumbs-link-icon:active .arrow-icon {
  fill: rgba(255, 255, 255, 0.3);
}

.filter-hotels {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.filter-container-left {
  display: flex;
  justify-content: space-between;
  width: 371px;
}

.filter-container-right {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.filter-hotels-group {
  width: 150px;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-hotels-price {
  width: 288px;
}

.filter-hotels-title {
  margin-bottom: 31px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-hotels-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.control {
  position: relative;
  display: flex;
  padding-left: 36px;
  cursor: pointer;
}

.control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  width: 13px;
  height: 11px;
  top: 4px;
  left: 4px;
  background: url("../images/mark-checkbox-icon.svg") no-repeat;
  content: "";
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 4px;
}

.control:hover {
  opacity: 0.6;
}

.control-input:focus + .control-mark,
.contacts-input:focus + .c {
  outline: 3px solid #83b3d3;
}

.control:active {
  opacity: 0.3;
}

.control-label {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.range-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 44px;
}

.range-inputs {
  display: flex;
  justify-content: space-between;
}

.cost-container {
  position: relative;
}

.field-cost {
  padding: 9px 40px 9px 17px;
  width: 143px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background: #f2f2f2;
  border: 3px solid transparent;
  box-sizing: border-box;
  outline: none;
}

.field-cost:hover {
  background: #e6e6e6;
}

.field-cost:focus {
  background: #e6e6e6;
  border-color: #83b3d3;
}

.field-cost:active {
  padding: 10px 41px 10px 18px;
  background: #f2f2f2;
  border-width: 2px;
  border-color: #000000;
}

.label-cost {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #000000;
  opacity: 0.3;
}

.label-cost-min {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.field-cost-min {
  border-radius: 4px 0 0 4px;
}

.label-cost-max {
  position: absolute;
  content: "";
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.field-cost-max {
  border-radius: 0 4px 4px 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  border: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  border: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  width: 191px;
  padding-top: 56px;
}

.button-apply {
  width: 100%;
  margin-bottom: 32px;
  padding: 8px 0;
  background-color: #82b3d3;
}

.button-reset {
  width: 100%;
  padding: 5px 0;
  border: 3px solid transparent;
  background: transparent;
}

.button-reset:hover {
  opacity: 0.6;
}

.button-reset:focus {
  color: #ffffff;
  border-color: #83b3d3;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.button-reset:disabled {
  opacity: 0.1;
  border-color: transparent;
}

.search-hotels {
  padding: 48px 70px 50px 70px;
}

.search-container {
  display: flex;
  align-items: center;
  color: #000000;
}

.search-result {
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  padding: 12px 32px 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background: url("../images/select-arrow.svg") no-repeat;
  background-position: right 18px center;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  outline: none;
  -webkit-appearance: none;
          appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #68a2ca;
}

.select-control:active {
  border-color: #3f5e72;
}

.select-control:disabled {
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

.button-show-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.button-show-item:not(:last-child) {
  margin-right: 8px;
}

.button-show-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  color: #000000;
  background: transparent;
  outline: none;
}

.button-show-current {
  border-color: #000000;
}

.button-show-link:hover {
  border-color: #000000;
}

.button-show-link:focus {
  border-color: #68a2ca;
}

.button-show-link:active {
  border-color: #000000;
}

.button-show-image {
  fill: #000000;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 40px 0 38px 0;
  border-bottom: 1px solid #e6e6e6;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.hotels-card-image {
  display: block;
  width: 300px;
  height: 212px;
  object-fit: contain;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotels-card-group:last-child {
  margin: 0;
}

.hotels-card-price {
  justify-self: end;
}

.group-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card .button-brown,
.hotels-card .button-blue {
  padding: 8px 0;
}

.button-in-favorites {
  background: #7db54f;
}

.button-in-favorites:hover,
.button-in-favorites:focus {
  background: #6c9e42;
}

.button-in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
  background: #7db54f;
}

.button-in-favorites:disabled {
  color: #ffffff;
  background: #e5e5e5;
}

.stars-size {
  width: 140px;
  height: 37px;
}

.two-stars {
  background: url("../images/stars/stars-2.png") no-repeat;
}

.three-stars {
  background: url("../images/stars/stars-3.png") no-repeat;
}

.four-stars {
  background: url("../images/stars/stars-4.png") no-repeat;
}

.rating {
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 39px;
}

.pagination-item {
  margin-bottom: 10px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  min-width: 60px;
  box-sizing: border-box;
  padding: 0 10px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
  text-align: center;
  outline: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68a2ca;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #82b3d3;
}

.pagination-current,
.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-dots,
.pagination-dots:hover,
.pagination-dots:focus,
.pagination-dots:active {
  color: #000000;
  background-color: transparent;
}

.black-text {
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-search {
  width: 717px;
}

.modal-close-button {
  position: absolute;
  padding: 23px;
  top: 64px;
  right: 51px;
  width: 14px;
  height: 14px;
  background-color: #f2f2f2;
  background-image: url("../images/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
  outline: none;
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  border-color: #83b3d3;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  border-color: transparent;
  opacity: 0.3;
}

.modal-search-title {
  margin: 0;
  margin-bottom: 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.field-date-container {
  margin-bottom: 23px;
}

.field-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.field-label {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
  color: #000000;
}

.field-input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border-radius: 4px;
  border: none;
  outline: none;
}

.field-input:hover {
  background-color: #e6e6e6;
}

.field-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.field-input:active {
  background-color: #f2f2f2;
  outline: 2px solid #000000;
}

.field-input-date {
  width: 440px;
  box-sizing: border-box;
  padding: 12px 50px 12px 20px;
  background-image: url("../images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: right 22px center;
}

.field-input-message {
  margin: 0;
  margin-top: 4px;
  margin-left: 157px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.error-message {
  color: #ff5757;
}

.info-message {
  color: #333333;
}

.count-people-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 48px;
}

.count-people-container .field-label {
  padding-right: 46px;
}

.field-box {
  display: grid;
  grid-template-columns: 40px 31px 40px;
  margin-left: auto;
}

.field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 2px;
  background-color: #f2f2f2;
  border: none;
  outline: none;
}

.button-icon {
  fill: rgba(117, 97, 87, 0.3);
  cursor: pointer;
}

.minus {
  grid-area: 1 / 1 / 2 / 2;
}

.minus .button-icon {
  padding: 9px 3px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.plus {
  grid-area: 1 / 3 / 2 / 4;
}

.plus .button-icon {
  padding: 3px 3px;
  border: 3px solid transparent;
  border-radius: 4px;
}

.field-button:hover .button-icon {
  fill: #000000;
}

.field-button:focus .button-icon {
  fill: #000000;
  border-color: #82b3d3;
}

.field-button:active .button-icon {
  fill-opacity: 0.2;
  border-color: transparent;
}

.field-input-count-people {
  box-sizing: border-box;
  grid-area: 1 / 1 / 2 / 4;
  text-align: center;
  width: 111px;
  padding: 12px 40px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.modal-search-button {
  display: block;
  padding: 18px 0;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
}

.modal-search-button:active {
  background: #68a2ca;
}

.field-label .field-label {
  padding-right: 36px;
}

.tooltip {
  position: absolute;
  left: 60px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: #83b3d3;
  padding: 7px 12px;
  margin: 0;
  display: block;
  border-radius: 50%;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-toggle:active .tooltip-icon {
  fill-opacity: 0.3;
}

.tooltip-text {
  display: none;
  width: 256px;
  box-sizing: border-box;
  padding: 16px 20px 26px 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  color: #ffffff;
  background: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: absolute;
  top: 100%;
  margin-top: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 0;
  right: 0;
  width: 19px;
  height: 9px;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../images/tooltip-arrow.svg");
}
