@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background: #F2F2F2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background: #756157;
  border-radius: 4px;
  border: none;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #ffffff;
}

.navigation {
  display: flex;
}

.navigation-logo {
  position: relative;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.user-panel {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 320px;
  margin-left: auto;
}

.user-panel-link {
  display: block;
  padding: 19px 13px;
  text-decoration: none;
  min-width: 20px;
  min-height: 20px;
}

.counter {
  min-width: 20px;
  min-height: 20px;
  padding: 5px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #ffffff;
  background: #7DB54F;
  border-radius: 10px;
}

.navigation-button {
  padding: 8px 34px;
  margin: 14px 0 14px 20px;
}

.main-container {
  flex-grow: 1;
  margin-top: -10px;
}

.welcome-container {
  margin: 0;
  min-height: 485px;
  background-color: #756157;;
  background-image: url("../images/welcome-divider.png"), url("../images/welcome-sedona-background.jpg");
  background-position: center bottom, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 100% 57px, cover;
}

.main-index-logo {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 25px;
}

.description-container {
  width: 850px;
  margin: 0 auto;
  padding: 69px 0 90px 0;
}

.description-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.description-compare {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  width: 400px;
  min-height: 384px;
  box-sizing: border-box;
  padding-top: 103px;
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-picture {
  display: flex;
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-image {
  object-fit: cover;
}

.light-blue {
  background: rgba(131, 179, 211, 0.2);
}

.white {
  background-color: #ffffff;
}

.text-container {
  width: 230px;
  margin: 0 auto;
}

.advantages-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.search {
  margin: 96px 0;
  text-align: center;
  font-weight: 700;
}

.search-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.search-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
}

.search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  text-align: center;
  color: #ffffff;
}

.subscribe-background {
  background-color: #756157;
  background: url("../images/subscribe-background.jpg") no-repeat;
  background-size: 100% 415px;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 96px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  width: 684px;
  margin: 0 auto;
  padding-bottom: 104px;
}

.subscribe-field {
  width: 452px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #F2F2F2;
}

.subscribe-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
}

.page-footer {
  display: flex;
  align-items: center;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
}

.footer-social {
  width: 150px;
  margin-right: auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
}

.footer-social-item {
  margin-right: 27px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.social-button {
  background-color: transparent;
}

.page-footer-phone {
  width: 334px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.page-footer-contacts {
  margin-left: 235px;
}

.inner-header {
  color: #ffffff;
}

.filter-background {
  background-color: #756157;
  background: url("../images/hotels-filter-background.jpg") no-repeat;
  background-size: cover;
}

.filter-container {
  width: 1060px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 70px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  margin-right: 28px;
  text-decoration: none;
  color: inherit;
}

.filter-hotels {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.filter-container-left {
  display: flex;
  justify-content: space-between;
  width: 371px;
}

.filter-container-right {
  display: flex;
  justify-content: space-between;
  width: 549px;
}

.reset-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-hotels-group {
  width: 150px;
}

.filter-hotels-price {
  width: 288px;
}

.filter-hotels-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: capitalize;
}

.filter-hotels-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  gap: 16px;
}

.filter-hotels-item {
  display: flex;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
}

.control-input {
  margin: 0;
  margin-right: 16px;
}

.group-cost {
  display: flex;
  justify-content: space-between;
}

.field-cost {
  padding: 0;
  width: 143px;
  box-sizing: border-box;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  width: 191px;
  padding-top: 56px;
}

.button-apply {
  width: auto;
  margin-bottom: 32px;
  padding: 8px 0;
  background-color: #82B3D3;
}

.button-reset {
  width: auto;
  padding: 8px 0;
  background: transparent;
}

.search-hotels {
  padding: 50px 70px 60px 70px;
}

.search-container {
  display: flex;
  align-items: center;
  color: #000000;
}

.search-result {
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  width: 292px;
  min-height: 50px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-show-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 70px;
}

.button-show-item:not(:last-child) {
  margin-right: 8px;
}

.button-show-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border-radius: 4px;
  border: 2px solid #E5E5E5;
  color: #000000;
  background: transparent;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  padding: 40px 0;
  border-bottom: 1px solid #E6E6E6;
}

.hotels-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotels-link {
  grid-column: 1/-1;
  text-decoration: none;
}

.hotels-card-image {
  width: 300px;
  height: 212px;
  object-fit: contain;
}

.hotels-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotels-card-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotels-card-group:last-child {
  margin: 0;
}

.hotels-card-price {
  justify-self: end;
}

.group-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.hotels-card .button {
  padding: 8px 0;
}

.button-blue {
  background: #82B3D3;
}

.stars-size {
  width: 140px;
  height: 37px;
}

.two-stars {
  background: url("../images/stars/stars-2.png") no-repeat;
}

.three-stars {
  background: url("../images/stars/stars-3.png") no-repeat;
}

.four-stars {
  background: url("../images/stars/stars-4.png") no-repeat;
}

.rating {
  padding: 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background: #f2f2f2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 40px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  padding: 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color:#ffffff;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-dots {
  color: #000000;
  background-color: transparent;
}

.black-text {
  color: #000000;
}
